# Data Understanding

| Column                   | Description                                                                                     |
|--------------------------|-------------------------------------------------------------------------------------------------|
| id                       | Unique listing identifier                                                                       |
| log_price                | Log-transformed nightly price                                                                   |
| property_type            | Type of property (Apartment, House, etc.)                                                       |
| room_type                | Type of room (Entire home/apt, Private room, etc.)                                              |
| amenities                | List of amenities provided in the listing                                                       |
| accommodates             | Maximum number of guests the listing can host                                                   |
| bathrooms                | Number of bathrooms                                                                             |
| bed_type                 | Type of bed provided                                                                            |
| cancellation_policy      | Cancellation policy category (strict, moderate, flexible)                                       |
| cleaning_fee             | Whether a cleaning fee is charged (TRUE/FALSE)                                                  |
| city                     | City of the listing (NYC, SF, DC, etc.)                                                         |
| description              | Text description written by the host                                                            |
| first_review             | Date of the first guest review                                                                  |
| host_has_profile_pic     | Whether the host has a profile picture                                                          |
| host_identity_verified   | Whether the host‚Äôs identity is verified                                                         |
| host_response_rate       | Host‚Äôs response rate (e.g., 100%, etc.)                                                         |
| host_since               | Date the host joined the platform                                                               |
| instant_bookable         | Whether guests can book instantly                                                               |
| last_review              | Date of the most recent review                                                                   |
| latitude                 | Latitude coordinate of the listing                                                              |
| longitude                | Longitude coordinate of the listing                                                             |
| name                     | Listing title                                                                                   |
| neighbourhood            | Neighborhood name                                                                               |
| number_of_reviews        | Total number of reviews                                                                         |
| review_scores_rating     | Average review rating                                                                           |
| thumbnail_url            | URL of listing's thumbnail image                                                                |
| zipcode                  | Postal code of the listing location                                                             |
| bedrooms                 | Number of bedrooms                                                                              |
| beds                     | Number of beds                                                                                  |

# Data Loading & lib importing

In [ ]:
import pandas as pd 
import plotly.express as px 
import streamlit as st 
# To show all Columns
pd.set_option('display.max_columns', None)

In [ ]:
df=pd.read_csv(r'Airbnb_price.csv', index_col= 0)

In [ ]:
df.head()

# Data Exploration

- Check Data Types

In [ ]:

df.info()

- Check summary statistics for Numerical Columns

In [ ]:
df.describe().round(2)

- Check summary statistics for Categorical Columns

In [ ]:
df.describe(include='object').drop(['first_review','host_response_rate','host_since','last_review','name','description','thumbnail_url'],axis=1)

- Check Duplicates

In [ ]:
df.duplicated().sum()

- Check Missing Values

In [ ]:
# i used mean to get the prentage of missing value and sorted them descending 
df.isna().mean().sort_values(ascending=False)*100

# Data Cleaning

### Columns That Need Reformatting 

| Column                   | Current Type | Issue                                   | Recommended Fix |
|--------------------------|--------------|------------------------------------------|------------------|
| first_review             | object       | date stored as string                    | convert to datetime |
| host_since               | object       | date stored as string                    | convert to datetime |
| last_review              | object       | date stored as string                    | convert to datetime |
| host_has_profile_pic     | object       | 't'/'f' text values                      | convert to boolean |
| host_identity_verified   | object       | 't'/'f' text values                      | convert to boolean |
| instant_bookable         | object       | 't'/'f' text values                      | convert to boolean |
| host_response_rate       | object       | percent string (e.g., '100%')            | strip '%' and convert to float |
| bathrooms                | float64      | integer but stored as float      | convert to Int|
| bedrooms                 | float64      | integer  but stored as float        | convert to Int|
| beds                     | float64      | integer  but stored as float        | convert to Int |
|number_of_reviews       | Float64      | integer  but stored as float        | convert to Int |

In [ ]:
# 1st date handling
# List of columns to convert to date & time 
date_cols = ["first_review", "host_since", "last_review"]

# Convert to datetime
for col in date_cols:
    df[col] = pd.to_datetime(df[col])

In [ ]:
df[date_cols].describe()

In [ ]:
## 2nd the columns that should be boolen 
## list of column to covert to boolen 
bool_cols = [
    "host_has_profile_pic",
    "host_identity_verified",
    "instant_bookable"
]

# Convert "t"/"f" ‚Üí True/False
for col in bool_cols:
    df[col] = df[col].map({'t': True, 'f': False})

In [ ]:
df[bool_cols].info()

In [ ]:
for col in bool_cols:

    print(col)
    print(df[col].nunique())
    print(df[col].unique())
    print('-' * 100)

##host_has_profile_pic and host_identity_verified Still showing as object, meaning the mapping didn't fully convert them due to nan
## i will return back to this point during the handling of missing value

In [ ]:
#clean and convert host_response_rate

#Removes %, handles missing values, and converts to float.

def convert_percent_to_float(x):
    if pd.isna(x):   ## to avoid the error raised from strip
        return None
    return float(x.strip('%'))

df["host_response_rate"] = df["host_response_rate"].apply(convert_percent_to_float)

In [ ]:
df['host_response_rate'].describe().round(2)

In [ ]:
## 3rd converting the float columns to int

int_cols = ["bathrooms", "bedrooms", "beds","number_of_reviews"]

df[int_cols] = (df[int_cols].apply(pd.to_numeric, errors="coerce").round().astype("Int64"))

## i used round as there is  some values with fraction format which is not reasonable to be used here

### In depth check for categorical columns & numerical

In [ ]:
cat_cols = df.select_dtypes(include= 'object').columns
cat_cols

In [ ]:
for col in cat_cols:

    print(col)
    print(df[col].nunique())
    print(df[col].unique())
    print('-' * 100)

In [ ]:
## clean the city to correct names 
city_map = {
    "NYC": "New York City",
    "SF": "San Francisco",
    "DC": "Washington DC",
    "LA": "Los Angeles",
    "Chicago": "Chicago",
    "Boston": "Boston"
}
df["city"] = df["city"].map(city_map)

In [ ]:
# i asked chatgpt to correct the abnormalities in zipcode
import re

def clean_zip(z):
    if pd.isna(z):
        return None
    
    # Convert to string
    z = str(z).strip()
    
    # Replace common artifacts
    z = z.replace(".0", "")
    
    # Extract the last 5-digit group from the string
    match = re.findall(r'\b(\d{5})\b', z)
    
    if match:
        return match[-1]  # keep the last valid 5-digit ZIP code
    
    return None  # invalid ZIP ‚Üí treat as missing

df["zipcode"] = df["zipcode"].apply(clean_zip)

- drop the useless columns in categorical

In [ ]:
cols_to_drop = ["name", "description", "thumbnail_url"]

df = df.drop(columns=cols_to_drop)

In [ ]:
df.duplicated().sum() ## check the duplicates after the drop column

- In depth check for Numerical columns

In [ ]:
num_cols = df.select_dtypes(include= 'number').columns
num_cols

In [ ]:
import plotly.io as pio
pio.renderers.default = "notebook_connected"  # or "notebook", "iframe", "colab" depending on your environment
#pio.renderers.default = "iframe_connected"

In [ ]:

pio.templates.default = "plotly"   # Full color

In [ ]:
for col in num_cols:

    px.histogram(data_frame= df, x= col, title= col).show()

In [ ]:
df.info()

In [ ]:
df.isna().mean().round(4).sort_values(ascending=False)*100

## Missing Values Handling Plan

Below is the recommended action for each column based on the percentage of missing values.

### üü† Columns to FILL (missing between 5% and 40%)
| Column              | Missing % | Action | Suggested Strategy |
|---------------------|-----------|--------|---------------------|
| host_response_rate   | 24.69%   | **Fill** | after deep diving i  decided  KNN |
| review_scores_rating | 22.56%   | **Fill** | after deep diving i  decided  KNN |
| first_review         | 21.40%   | **Fill** | after deep diving i  decided fill using mode  |
| last_review          | 21.36%   | **Fill** | after deep diving i will decided fill using mode  |
| neighbourhood        | 9.27%    | **Fill** | after deep diving i will decide ‚ÄúUnknown‚Äù |

---

### üü¢ Columns to DROP ROWS (missing < 5%)
| Column                  | Missing % | Action |
|-------------------------|-----------|--------|
| zipcode                 | 1.30%     | **Drop rows** |
| bathrooms               | 0.27%     | **Drop rows** | 
| host_since              | 0.25%     | **Drop rows** |
| host_identity_verified  | 0.25%     | **Drop rows** | 
| host_has_profile_pic    | 0.25%     | **Drop rows** |
| beds                    | 0.18%     | **Drop rows** | 
| bedrooms                | 0.12%     | **Drop rows** |

In [ ]:
## fill na for neighbourhod by unknown as it s logic 
df['neighbourhood']=df['neighbourhood'].fillna('Unknown')

In [ ]:
## drop  rows  for columns <5%

cols_to_drop_na = [
    'zipcode', 
    'bathrooms', 
    'host_since', 
    'host_identity_verified', 
    'host_has_profile_pic', 
    'beds', 
    'bedrooms'
]


df = df.dropna(subset=cols_to_drop_na).reset_index(drop=True)

In [ ]:
# Fill missing with mode (most frequent date)
df['first_review'].fillna(df['first_review'].mode()[0], inplace=True)
df['last_review'].fillna(df['last_review'].mode()[0], inplace=True)

In [ ]:
## KNN imputer will be used for missing numerical columns 

from sklearn.impute import KNNImputer

knn = KNNImputer(n_neighbors=5)

df[num_cols] = knn.fit_transform(df[num_cols])

In [ ]:
px.histogram(data_frame=df,x='host_response_rate')

In [ ]:
px.histogram(data_frame=df,x='review_scores_rating')

# Feature Engineering

- amenties is really useful column but it will take time to clean it and feature extract so i steered chatgpt with which features are needed to be exracted , it should be more useful for ML

In [ ]:
import re


# === helper: parse the raw amenities cell into a list of normalized tokens ===
def parse_amenities_cell(x):
    """
    Returns a list of normalized amenity tokens (lowercased, stripped).
    Handles strings like:
      '{"Wireless Internet","Air conditioning",Kitchen,Heating,...}'
    or already-list-like inputs, or NaN.
    """
    if pd.isna(x):
        return []
    # if it's already a list (rare), normalize elements
    if isinstance(x, (list, tuple, set)):
        tokens = [str(t).strip().lower() for t in x if pd.notna(t)]
        return [t for t in tokens if t]

    s = str(x).strip()
    # remove surrounding braces if present
    if s.startswith('{') and s.endswith('}'):
        s = s[1:-1]
    # remove double quotes
    s = s.replace('"', '')
    # replace escaped whitespace/newlines, carriage returns
    s = s.replace('\\n', ' ').replace('\\r', ' ').replace('\r', ' ').replace('\n', ' ')
    # collapse multiple whitespace
    s = re.sub(r'\s+', ' ', s)
    # split on commas (most common separator)
    parts = [p.strip().lower() for p in s.split(',') if p.strip()]
    # remove empty and normalize common punctuation
    parts = [re.sub(r'[^\w /+-]', '', p).strip() for p in parts if p.strip()]
    # remove duplicates while preserving order
    seen = set()
    out = []
    for p in parts:
        if p and p not in seen:
            seen.add(p)
            out.append(p)
    return out

# === a mapping of main amenity keys to synonyms/substrings to detect ===
MAIN_AMENITIES = {
    "has_internet": ["wireless internet", "wifi", "internet"],
    "has_tv": ["tv", "cable tv", "smart tv"],
    "has_air_conditioning": ["air conditioning", "airconditioner", "a/c", "ac"],
    "is_family_friendly": ["family/kid friendly", "family friendly", "family"],
    "has_washer": ["washer", "washing machine"],
    "has_dryer": ["dryer"],
    "has_kitchen": ["kitchen", "cooking basics", "oven", "stove", "microwave"],
    "has_parking": ["free parking on premises", "parking", "paid parking", "street parking"],
    "has_elevator": ["elevator", "lift"],
    "has_heating": ["heating"],
    "has_smoke_detector": ["smoke detector", "smoke alarm"],
    "has_carbon_monoxide_detector": ["carbon monoxide detector"],
    "has_fire_extinguisher": ["fire extinguisher"],
    "has_workspace": ["laptop friendly workspace", "workspace", "desk"],
    "has_pets_allowed": ["pets allowed", "pet friendly"],
    "has_pool": ["pool", "hot tub", "jacuzzi"],
    "has_breakfast": ["breakfast"],
    "has_first_aid_kit": ["first aid kit"]
}

# === apply parsing and feature extraction ===
def extract_amenities_features(df, col="amenities", top_k=20, add_top_k_columns=True):
    """
    Adds to df:
      - <col>_parsed : list of normalized amenities
      - amenities_count : number of unique amenities
      - boolean columns for each MAIN_AMENITIES key
      - optionally one-hot columns for top_k amenities across all listings
    Returns the modified dataframe and the list of top_k amenities (if requested).
    """
    # parse
    df[col + "_parsed"] = df[col].apply(parse_amenities_cell)

    # count
    df["amenities_count"] = df[col + "_parsed"].apply(lambda lst: len(lst))

    # detect main amenities (substring matching)
    for feat, synonyms in MAIN_AMENITIES.items():
        syn_lower = [s.lower() for s in synonyms]
        def has_synonyms(lst):
            for token in lst:
                for syn in syn_lower:
                    if syn in token:
                        return True
            return False
        df[feat] = df[col + "_parsed"].apply(has_synonyms).astype("boolean")

    top_amenities = []
    if add_top_k_columns:
        # compute top_k amenities globally
        all_amen = df[col + "_parsed"].explode().dropna()
        top_amenities = list(all_amen.value_counts().head(top_k).index)

        # create columns for each top amenity (boolean)
        for amen in top_amenities:
            col_name = "amenity__" + re.sub(r'\W+', '_', amen).strip('_')
            df[col_name] = df[col + "_parsed"].apply(lambda lst: amen in lst).astype("boolean")

    return df, top_amenities

# === Usage ===
# df is your DataFrame
df, top_amenities = extract_amenities_features(df, col="amenities", top_k=25, add_top_k_columns=True)

# Quick check
print("Top amenities detected:", top_amenities[:20])
print(df[["amenities_count"] + list(MAIN_AMENITIES.keys())].head())

In [ ]:
# now  to drop column amenities
df.drop(['amenities_parsed','amenities'], axis=1, inplace=True)

- How the distribution of amenities count

In [ ]:
px.histogram(data_frame=df, x='amenities_count')

In [ ]:
# check duplicates 
df.head()

In [ ]:
df.info()

In [ ]:
## - Extract year, month name, day name  , it could be used for anaylsis and answering some questions 

df["last_review_year"] = df["last_review"].dt.year
df["last_review_month_name"] = df["last_review"].dt.month_name()
df["first_review_year"] = df["first_review"].dt.year
df["first_review_month_name"] = df["first_review"].dt.month_name()

In [ ]:
px.histogram(data_frame=df,x="first_review_month_name")

In [ ]:
#### how many years the host dealing with Airbnb 
today = pd.Timestamp.today()
df["host_experience_years"] = (today - df["host_since"]).dt.days / 365.25

In [ ]:
px.histogram(data_frame=df,x='host_experience_years') ## the dist of the host experience years

In [ ]:
## extracting the orignal price from log price 
import numpy as np 
df["price_original_$"] = (np.exp(df["log_price"]) - 1).round(7) ### If  original log was applied with +1 to avoid log(0)

In [ ]:
px.histogram(data_frame=df,x='price_original_$')

# Data Analysis

# my analysis approach as below 
# to compare the prices based on the city ( price_avg  per city )
# select the most expensive  areas within each city

In [ ]:
fig = px.scatter_mapbox(df,lat="latitude",lon="longitude",color="price_original_$",size="price_original_$",zoom=10,height=600,mapbox_style="open-street-map",
    title="Airbnb Listings Map"
)
fig.show()

In [ ]:
## i want to show the box plot per city based on price 

px.box(data_frame=df , x='price_original_$' ,y='city') 
## it seems that the median different from city to another city

In [ ]:
df.head()

- what are the numbers of offered/rented accommodation per city

In [ ]:
df_count_rent=df[['city','latitude','longitude']]

In [ ]:
df_count_rent.duplicated().sum() ## there is no duplicates so we can count the number of rented or offered accommodation directly from original dataframe

In [ ]:
px.histogram(data_frame=df,x='city',color='city',text_auto=True,title=' the number of units per city').update_xaxes(categoryorder = 'max descending')

- What are the top 5 cities with the highest revenue ?

In [ ]:
top_5_city = df.groupby(['city'])['price_original_$'].sum().reset_index().sort_values(by= 'price_original_$', ascending= False).head(5)
px.bar(data_frame= top_5_city, x= 'city', y= 'price_original_$',color='city',title= 'Top 5 city with the highest revenue', text_auto= True)

- What are the top 20 neighbourhod per city  with the median prices ?

In [ ]:
top_20_nei = df.groupby(['city','neighbourhood'])['price_original_$'].median().reset_index().sort_values(by= 'price_original_$', ascending= False).head(20)
px.bar(data_frame= top_20_nei, x= 'neighbourhood', y= 'price_original_$',color='city',title= 'Top 20 neighborhod with the median price', text_auto= True)

- Which room types have the highest average prices?

In [ ]:
cat_cols_ana=['room_type','bed_type','property_type']
for col in cat_cols_ana:
    fig = px.box(df, x='log_price',  y=col, title=f'Scatter: price_original_$ vs {col}')
    fig.show()

-How does the number of bedrooms or beds , bathrooms affect price?

In [ ]:
int_cols = ["bathrooms", "bedrooms", "beds",'accommodates']

for col in int_cols:
    fig = px.box(df, y='price_original_$', x=col, title=f'Scatter: price_original_$ vs {col}')
    fig.show()

In [ ]:
df.head()

- Which room types have the highest average prices per city ?

In [ ]:
top_city_room=df.groupby(['city','room_type'])['price_original_$'].mean().reset_index().sort_values(by= 'price_original_$', ascending= False)
px.bar(data_frame=top_city_room,x='city',y='price_original_$',color='room_type',barmode= 'group',text_auto=True,title="room_type vs prices per city ").update_xaxes(categoryorder = 'max descending')

- Which bed types have the highest average prices per city ?

In [ ]:
top_city_bed_type=df.groupby(['city','bed_type'])['price_original_$'].mean().reset_index().sort_values(by= 'price_original_$', ascending= False)
px.bar(data_frame=top_city_bed_type,x='city',y='price_original_$',color='bed_type',barmode= 'group',text_auto=True,title="bed_type vs prices per city ").update_xaxes(categoryorder = 'max descending')

- What are the most common amenities across all units?

In [ ]:
amen_cols = [c for c in df.columns if c.startswith('amenity__')] ## list comprehension used to select all columns related to amenities
amen_counts = df[amen_cols].sum() # Count how many  each amenity
amen_pct = (amen_counts / len(df)) * 100
amen_pct = amen_pct.sort_values(ascending=False).head(20)# Take top 20 amenities
amen_df = amen_pct.reset_index() ## convert to dataframe
amen_df.columns = ["Amenity", "Percentage"]
px.bar(data_frame=amen_df,x="Amenity", y="Percentage",title="Top 20 Amenities (Percentage of Listings)",labels={"Percentage": "Percentage (%)"},
)

-which amenity has the highest average price ?

In [ ]:
# Select amenity columns
amen_cols = [c for c in df.columns if c.startswith('amenity__')]

amen_price = []

for col in amen_cols:
    count = df[col].sum()  # how many listings have this amenity
    avg_price = df[df[col] == 1]["price_original_$"].mean().round(2)  # average price
    
    amen_price.append([col, count, avg_price])

# Convert to dataframe
amen_price_df = pd.DataFrame(amen_price, columns=["Amenity", "Count", "Avg_LogPrice($)"])

# Sort by highest price
amen_price_df = amen_price_df.sort_values("Avg_LogPrice($)", ascending=False).head(20)




px.scatter(data_frame=amen_price_df,y="Avg_LogPrice($)", x="Amenity", size= 'Count' ,title="Top 20 Amenities based on avg price")

-How do the price will impact cancellation_policy ?

In [ ]:
top_city_cancel=df.groupby(['city','cancellation_policy'])['price_original_$'].mean().reset_index().sort_values(by= 'price_original_$', ascending= False)
px.bar(data_frame=top_city_cancel,x='city',y='price_original_$',color= 'cancellation_policy',barmode='group',text_auto=True,title="cancellation_policy vs prices per city ").update_xaxes(categoryorder = 'max descending')

In [ ]:
df.head()

- heat map to corr between some numerical feature

In [ ]:
num_cols = num_cols.tolist()
num_corr = df[num_cols].corr().round(2)
px.imshow(num_corr, text_auto= True, title='correlation matrix', width=1000,height=1000)

In [ ]:
df.columns

## Deployment

In [ ]:
## drop some features to reduce the size as the max file size in github 25m
cols_to_drop_size = [
    'cleaning_fee', 'first_review', 'host_has_profile_pic', 
    'host_identity_verified', 'host_since', 'instant_bookable', 'last_review',
    'zipcode', 'last_review_year', 'last_review_month_name', 
    'first_review_year', 'first_review_month_name','amenity__translation_missing_enhosting_amenity_49','amenity__translation_missing_enhosting_amenity_50','property_type'
]

# Drop the columns
df = df.drop(columns=cols_to_drop_size)

In [ ]:
# Take 85% of the dataset randomly
sample_85_df = df.sample(frac=0.85, random_state=42)

# Export to CSV
sample_85_df.to_csv('cleaned_df.csv', index=False)

In [ ]:
import streamlit as st

In [ ]:
%%writefile Airbnb_USA_deployment.py

import streamlit as st
import pandas as pd
import plotly.express as px
import folium
from folium.plugins import MarkerCluster
from streamlit_folium import st_folium

st.set_page_config(layout= 'wide', page_title= 'Airbnb_USA_prices')
html_title = "<h1 style=color:Black;text-align:center;> Airbnb EDA Project </h1>"
st.markdown(html_title, unsafe_allow_html= True)

st.image('',width=1000)

# Sidebar page selection
page = st.sidebar.radio('Page', ['Home', 'GEO_map', 'CAT_NUM_analysis','other'])

# Load dataset
df = pd.read_csv('cleaned_df.csv', index_col=0)

if page == 'Home':
    st.header('Dataset Overview')
    st.dataframe(df.head(10))
    
    st.header("üìù Column Descriptions")

    with st.expander("üìò Click to view dataset column descriptions"):

        col_desc = {
            "id": "Unique listing identifier.",
            "log_price": "Log-transformed nightly price.",
            "property_type": "Type of property (Apartment, House, etc.).",
            "room_type": "Type of room (Entire home/apt, Private room, etc.).",
            "amenities": "List of amenities provided in the listing.",
            "accommodates": "Maximum number of guests the listing can host.",
            "bathrooms": "Number of bathrooms.",
            "bed_type": "Type of bed provided.",
            "cancellation_policy": "Cancellation policy category (strict, moderate, flexible).",
            "cleaning_fee": "Whether a cleaning fee is charged (TRUE/FALSE).",
            "city": "City where the listing is located.",
            "description": "Text description written by the host.",
            "first_review": "Date of the first guest review.",
            "host_has_profile_pic": "Whether the host has a profile picture.",
            "host_identity_verified": "Whether the host‚Äôs identity is verified.",
            "host_response_rate": "Host‚Äôs response rate (e.g., 100%).",
            "host_since": "Date the host joined the platform.",
            "instant_bookable": "Whether guests can book instantly.",
            "last_review": "Date of the most recent review.",
            "latitude": "Latitude coordinate of the listing.",
            "longitude": "Longitude coordinate of the listing.",
            "name": "Listing title.",
            "neighbourhood": "Neighborhood name.",
            "number_of_reviews": "Total number of reviews.",
            "review_scores_rating": "Average review rating.",
            "thumbnail_url": "URL of the listing's thumbnail image.",
            "zipcode": "Postal code of the listing location.",
            "bedrooms": "Number of bedrooms.",
            "beds": "Number of beds."
        }

        desc_df = pd.DataFrame(
            list(col_desc.items()), 
            columns=["Column Name", "Description"]
        )

        st.table(desc_df)

    
if page == 'GEO_map':
   
    st.title("üåçAirbnb Listings Map")

    #  CITY DROPDOWN 
    cities = sorted(df["city"].unique())

    selected_city = st.selectbox(
        "Select City",
        cities
    )

    # Filter dataframe by selected city
    df_city = df[df["city"] == selected_city]

    #  NEIGHBOURHOOD MULTISELECT 
    neighbourhoods = sorted(df_city["neighbourhood"].unique())

    selected_neighbourhoods = st.multiselect(
        "Select Neighbourhood(s)",
        neighbourhoods,
        default=neighbourhoods  # show all by default
    )

    # Filter by neighbourhood
    df_city_nei = df_city[df_city["neighbourhood"].isin(selected_neighbourhoods)]

    #  MAP 
    if len(df_city_nei) == 0:
        st.warning("No listings found for selected city/neighbourhood.")
    else:
        fig = px.scatter_mapbox(
            df_city_nei,
            lat="latitude",
            lon="longitude",
            color="price_original_$",
            size="price_original_$",
            mapbox_style="open-street-map",
            zoom=10,
            height=650,
            title=f"Airbnb Listings in {selected_city}",
            color_continuous_scale="Reds"
        )
    st.plotly_chart(fig, use_container_width=True)
    total_accommodations = len(df_city_nei)
    total_revenue = df_city_nei['price_original_$'].sum()
    avg_price = df_city_nei['price_original_$'].mean()

    st.markdown(
        f"<h3 style='color:#FF4B4B;'>üìç Metrics for <b>{selected_city}</b></h3>",
        unsafe_allow_html=True
    )

    col1, col2, col3 = st.columns(3)

    col1.metric("üèòÔ∏è Total units", f"{total_accommodations:,}")
    col2.metric("üí∞ Total Revenue", f"${total_revenue:,.2f}")
    col3.metric("üìä Average Price per unit", f"${avg_price:,.2f}")
    
    # PRICE OUTLIERS (20% / 80%)
    p20 = df_city_nei["price_original_$"].quantile(0.20)
    p80 = df_city_nei["price_original_$"].quantile(0.80)
    # Under priced units (<20th )
    under_count = df_city_nei[df_city_nei["price_original_$"] < p20]["price_original_$"].count()
    under_avg   = df_city_nei[df_city_nei["price_original_$"] < p20]["price_original_$"].mean()
    # Over priced units (>80th )
    over_count  = df_city_nei[df_city_nei["price_original_$"] > p80]["price_original_$"].count()
    over_avg    = df_city_nei[df_city_nei["price_original_$"] > p80]["price_original_$"].mean()
    # Display outlier KPIs
    if st.checkbox('Price over/under priced Analysis'):
        st.subheader("üìä Price over/under price Analysis")
        col4, col5, col6, col7 = st.columns(4)
        col4.metric("‚¨áÔ∏è No of Under-Priced Units", f"{under_count:,}")
        col5.metric("üíµ Avg Under Price", f"${under_avg:,.2f}")
        col6.metric("‚¨ÜÔ∏è No of Over-Priced Units", f"{over_count:,}")
        col7.metric("üí∞ Avg Over Price", f"${over_avg:,.2f}")
        
if page=="CAT_NUM_analysis":
    # Number of units per city
    st.subheader("üèôÔ∏è Top 5 Cities with the Highest Revenue")
    st.plotly_chart(px.histogram(data_frame=df,x='city',color='city',text_auto=True,title=' The number of units per city').update_xaxes(categoryorder = 'max descending'))
    
    #- What are the top 5 cities with the highest revenue ?
    top_5_city = df.groupby(['city'])['price_original_$'].sum().reset_index().sort_values(by= 'price_original_$', ascending= False).head(5)
    st.subheader("üèôÔ∏è Top 5 Cities with the Highest Revenue")
    st.plotly_chart(px.bar(data_frame= top_5_city, x= 'city', y= 'price_original_$',color='city',title= 'Top 5 city with the highest revenue', text_auto= True))
    
    
    #- What are the top 20 neighbourhod per city  with the median prices ?
    st.subheader("üìç Top 20 Neighbourhoods per City (Median Prices)")
    top_20_nei = df.groupby(['city','neighbourhood'])['price_original_$'].median().reset_index().sort_values(by= 'price_original_$', ascending= False).head(20)
    st.plotly_chart(px.bar(data_frame= top_20_nei, x= 'neighbourhood', y= 'price_original_$',color='city',title= 'Top 20 neighborhod with the median price', text_auto= True))
    
    
    #- Which room types have the highest average prices per city ?
    st.subheader("üõèÔ∏è Room Types with the Highest Average Prices per City")
    top_city_room=df.groupby(['city','room_type'])['price_original_$'].mean().reset_index().sort_values(by= 'price_original_$', ascending= False)
    st.plotly_chart(px.bar(data_frame=top_city_room,x='city',y='price_original_$',color='room_type',barmode= 'group',text_auto=True,title="room_type vs prices per city ").update_xaxes(categoryorder = 'max descending'))
    
    
    #- Which bed types have the highest average prices per city ?
    top_city_bed_type=df.groupby(['city','bed_type'])['price_original_$'].mean().reset_index().sort_values(by= 'price_original_$', ascending= False)
    st.subheader("üõãÔ∏è Bed Types with the Highest Average Prices per City")
    st.plotly_chart(px.bar(data_frame=top_city_bed_type,x='city',y='price_original_$',color='bed_type',barmode= 'group',text_auto=True,title="bed_type vs prices per city ").update_xaxes(categoryorder = 'max descending')) 
      
    #- How do the price will impact cancellation_policy ?
    top_city_cancel=df.groupby(['city','cancellation_policy'])['price_original_$'].mean().reset_index().sort_values(by= 'price_original_$', ascending= False)
    st.subheader("‚öñÔ∏è Impact of Price on Cancellation Policy")
    st.plotly_chart(px.bar(data_frame=top_city_cancel,x='city',y='price_original_$',color= 'cancellation_policy',barmode='group',text_auto=True,title="cancellation_policy vs prices per city ").update_xaxes(categoryorder = 'max descending'))
    
    
if page == 'other':
    
    # CITY DROPDOWN 
    cities = sorted(df["city"].unique())
    selected_city = st.selectbox("Select City",cities)
    # Filter dataframe by selected city
    df_city = df[df["city"] == selected_city]
    
    #- What are the most common amenities across all units?
    amen_cols = [c for c in df_city.columns if c.startswith('amenity__')] ## list comprehension used to select all columns related to amenities
    amen_counts = df_city[amen_cols].sum() # Count how many  each amenity
    amen_pct = (amen_counts / len(df_city)) * 100
    amen_pct = amen_pct.sort_values(ascending=False).head(20)# Take top 20 amenities
    amen_df = amen_pct.reset_index() ## convert to dataframe
    amen_df.columns = ["Amenity", "Percentage"]
    st.subheader("üß© Most Common Amenities Across All unites")
    st.plotly_chart(px.bar(data_frame=amen_df,x="Amenity", y="Percentage",title="Top 20 Amenities (Percentage of Listings)",labels={"Percentage": "Percentage (%)"},
    ))
    
    #- which amenity has the highest average price ?
    # Select amenity columns
    amen_cols = [c for c in df_city.columns if c.startswith('amenity__')]
    amen_price = []
    for col in amen_cols:
        count = df[col].sum()  # how many unites have this amenity
        avg_price = df_city[df_city[col] == 1]["price_original_$"].mean().round(2)  # average price
        amen_price.append([col, count, avg_price])
    # Convert to dataframe
    amen_price_df = pd.DataFrame(amen_price, columns=["Amenity", "Count", "Avg_LogPrice($)"])
    # Sort by highest price
    amen_price_df = amen_price_df.sort_values("Avg_LogPrice($)", ascending=False).head(20)
    st.subheader("üíé Amenities Associated with the Highest Average Price")
    st.plotly_chart(px.scatter(data_frame=amen_price_df,y="Avg_LogPrice($)", x="Amenity", size= 'Count' ,title="Top 20 Amenities based on avg price"))
    
    #- heat map to corr between some numerical feature 
    num_cols = df.select_dtypes(include= 'number').columns
    num_cols = num_cols.tolist()
    num_corr = df[num_cols].corr().round(2)
    st.subheader("üìä Numerical Features Correlation Matrix")
    st.plotly_chart(px.imshow(num_corr, text_auto= True, title='correlation matrix', width=1000,height=1000,color_continuous_scale='Reds'))

In [ ]:
! python -m streamlit run Airbnb_USA_deployment.py